
   
input:invalid {
    border-color: red;
  }
  
  .invalid-feedback {
    display: none;
    color: red;
  }
  
  input:invalid+ .invalid-feedback {
    display: block;
  }
 .submit{
    padding: 10px;
    font-size: 11px;
color: white;
background-color: rgb(33, 84, 237);
border: none;
  }
 .alert {
    display: none;
    color: red;
  } 
#year:invalid {
  border-color: red;
}
#year:invalid + .alert {
    display: block;
  }
form{
	padding:10px;
	border:1px solid black;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content:start;
	align-content:start;
}
